.masthead {
    padding: 5px;

    .masthead-content {
        display: flex;

        .masthead-label {
            margin: auto 0;
        }
        .profilepic-wrapper {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            background-color: #545454;

            .profilepic {
                height: 60px;
                margin: auto;
            }
        }
    }
}