<div class = "registration-panel">
    <h2>Registration</h2>
    <input id="file" type="file" />
    <input type = "text" [(ngModel)]="username" placeholder="Username">
    <input type = "password" [(ngModel)]="password" placeholder="Password">
    <input type = "password" [(ngModel)]="password_repeat" placeholder="Repeat password">
    <div class = "button-wrapper-broad">
        <button class = "registration-button" (click)="register()">Register</button>
    </div>
    <a href="/login">Click here to login.</a>
</div>
<div *ngIf= "error" class = "error">{{error}}</div>
