<app-masthead></app-masthead>
<div class = "main-content">
    <div class = "left">
        <app-user-list></app-user-list>
    </div>
    <div class = "right">
        <div class = "messages">
            <div class = "message" *ngFor="let message of messages">
                <div class ="message-upper">
                    <span class = "username" *ngIf="message.type != 'server';">{{message.username}}</span>
                    <span class = "receiving-users" *ngIf="message.type == 'message' || message.type == 'filemessage';"><span class = "to">to</span><span class = "received-user" *ngFor="let user of message.users">{{user}}</span>
                    </span>
                </div>

                <div class = "message-middle">
                    <span class = "payload">{{message.payload}}</span>
                    <div class = "message-file" *ngIf="message.type == 'filebroadcast' || message.type == 'filemessage';">
                        <img *ngIf="message.file.filetype == 'image'" src="{{message.file.filedata}}">
                    </div>
                    <span class = "mood" *ngIf="message.type != 'server';">{{message.mood}}</span>
                </div>

                <div class = "message-lower">
                    <span class = "timestamp" *ngIf="message.type != 'server';">{{message.timestamp}}</span>
                </div>
            </div>
        </div>
        
        <div class = "bottom">
            <input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
            <button (click)="sendMessage()">Send</button>
            <input id="photo" type="file" />
        </div>
    </div>
</div>