<div class = "login-panel">
    <h2>Login</h2>
    <div [ngClass] = "{'loading-box': true, 'loading':loading}">
        <div class = "loading-transparency">
            <div class = "lds-dual-ring"></div>
        </div>
        <input type = "text" [(ngModel)]="username" placeholder="Username">
        <input type = "password" [(ngModel)]="password" placeholder="Password">
        <div class = "button-wrapper-broad">
            <button class = "login-button" (click)="login()">Login</button>
        </div>
        <a href="/registration">Click here to register.</a>
    </div>
</div>
<div *ngIf= "error" class = "error">{{this.error}}</div>