<div class = "user-list">
    <div class = "user-label" *ngFor="let user of users"
        [attr.data-username] = "user.username"
        (click)="clickUser($event)"
        [ngClass]="{'selected' : user.isSelected}"
        class = "user-label">
        <div class = "profilepic-wrapper" *ngIf="user.profilePicture == ''">
            <img src="assets/img/userpic.jpg" class = "profilepic">
        </div>
        <div class = "profilepic-wrapper" *ngIf="user.profilePicture != ''">
            <img [src]="user.profilePicture" class = "profilepic">
        </div>
        <div class = "username">
            {{user.username}}
        </div>
    </div>
</div>