@import "styles/variables.less";

/*global styles*/
.button-wrapper-broad {
    width: 100%;
}
.error {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: red;
    color: white;
    margin: 5px auto;
}
body {
    margin: 0;
    font-family: @body-font;
}